*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #f4f4f4;
    background-image: url('images/background-pattern.jpg');
     background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.search-wrapper {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 14px;
    padding: 5px 10px;
    width: 550px;
}
.categories {
    border: none;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 14px;
    font-size: 14px;
    outline: none;
    width: 160px;
}
.search-input {
    position: relative;
    flex: 1;
}
.search-input input {
    width: 100%;
    padding: 10px 35px 10px 14px;
    border: none;
    background-color: #f0f0f0;
    font-size: 14px;
    outline: none;
    border-radius: 15px;
}
.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: gray;
    font-size: 16px;
}
.support {
    position: relative;
    left: -90px;
}
.support small {
    display: block;
    font-weight: bold;
    color: #222;
    font-size: 16px;
    margin-left: -40px;
    margin-top: 7px;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 40px;
}
.right-icons {
    display: flex;
    align-items: center;
    gap:8px;
}
.icon {
    width: 35px;
    height: 35px;
    background-color: #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cart-dropdown {
    position: relative;
    margin-left: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.cart-toggle {
    font-weight: normal;
    cursor: pointer;
    background-color: #f4f4f4;
    padding: 6px 12px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.cart-amount {
    margin-top: 5px;
    font-weight: bold;
    color: #222;
    color: #333;
    text-align: center;
}
.cart-toggle i {
    font-size: 16px;
    color: #333;
}
.menu-container
{
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0;
    margin-left: 10px;
}
.menu {
    width: 100%;
    max-width: 1200px;
    /* margin: 0 auto; */
    justify-content: flex-start;
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.dropdown
{
    margin-right: 30px;
}
.departments-toggle
{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-weight: 900;
    color:black;
    text-decoration: none;
}
.departments-toggle i {
    margin-left: 5px;
    font-size: 12px;
    color: #666;
}
.menu-links
{
    display: flex;
}
.menu-links a {
    margin-right: 25px;
    text-decoration: none;
    color: #666;
    font-weight: 500;
}
.menu-links a i
{
    margin-left: 3px;
    font-size: 10px;
    color: #666;
}
.menu-links a:hover {
color: #4CAF50;
}